
	<link rel="icon" type="image/png" href="/public/img/favicon-32x32.png" sizes="32x32" />
    <meta charset="UTF-8">
    <title><%=title%></title>
    <!-- STYLES:  W3.CSS framework, Font-Awesome icons, and our custom style.css --> 
    <link rel="stylesheet" href="/public/css/w3.css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/style.css"> 
    <!-- SCRIPTS:  webRTC adapter for browser compatibility, jquery for easy DOM/AJAX utility, blockUI for interface control, 
                   Janus for Data Channel chat, webRTC mic/cam, Streaming files/audio, Recording, et cetera -->
    <script src="/public/lib/jquery-3.0.0.min.js"></script>
<script src="chai.js" type="text/javascript"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.1.5/adapter.min.js" ></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js" ></script>
    <!--<script type="text/javascript" src="/public/lib/janus.js" ></script> -->
    <!-- Setting up the Session and Handle to the textroom plugin -->
    <!--<script type="text/javascript" src="/public/lib/textroomtest.js"></script>  -->
